<!DOCTYPE html>
{% load static %} {% comment %} permet d'inclure les fichier static (image, css, js) grace a {% static 'url' %} {% endcomment %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon1.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    {% comment %} {% static 'lien' %} = génère l'URL absolue du fichier static à inclure {% endcomment %}
    <title>StudyBuddy - Find study partners around the world!</title>
  </head>

  <body>
    
    {% include 'navbar.html' %} <!--permet d'inclure les contenue dans navbar ici ou extends-->

    {% if messages %} {% comment %} si la messages est true alors il execute les instruction si dessous {% endcomment %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
